### Ref: https://github.com/jpadilla/django-project-template/blob/master/.gitignore

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py

.env
db.sqlite3

